# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local configuration file
.env

# Database
db.sqlite3

# Virtual environment
venv/
ENV/

# IDE files
.idea/
.vscode/

# Static files
staticfiles/
media/
